# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/forge/runModpack/
/forge/runModpack/config/
/forge/runModpack/mods/
/forge/runModpack/saves/
/forge/libs/
